.bg-container {
  background-color: #f1f5f8;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
}

.app-container {
  background-color: #ffffff;
  padding: 32px, 12px, 32px, 12px;
  border-radius: 14px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .app-container {
    max-width: 1140px;
    padding: 32px;
  }
}

.title {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
  }
}

.faqs-list{
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

@media screen and (min-width:768px){
    .faqs-list{
        width: 85%;
    }
}